body{
    background-color: aqua;
}
.form-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.wrapper{
    display: flex;
    border: 1px solid black;
    height: 15vh;
    width: 400px;
    margin-left: 10px;
    padding-bottom: 12px;
}
.wrapper input{
    padding: 10px 0px 0px;
    width: 1012%;
    height: 5vh;
    padding-left: 10px;
    padding-top: 30px;
}